<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TappyMetronome</name>
    <description>Tappy Metronome is a simple app that helps you find your beats per minute (BPM) by tapping along to the rhythm. It then plays a metronome based on the detected BPM, making it perfect for musicians to stay in time.</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- Add your icon definitions here -->
    <icon src="logo.png" width="1024" height="1024"/>
    <platform name="android">
        <icon src="logo.png" />
        </platform>
   
</widget>
